<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      BIENVENID@
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
 
  <h4> ASÍ FUNCIONA ESTA APLICACIÓN</h4>
  <h2>
     <P>Diríjase al apartado de cámara para tomar una foto.</P>
     <P>Diríjase al apartado de galería para cargar una foto.</P>
   </h2>
   <ion-button expand="full" (click)="mimetodo()">
     BOTÓN
   </ion-button>
 
   <ion-button expand="full" (click)="mimetodo2()">
    BOTÓN2
  </ion-button>
   <img [src]="imageSrc" alt="" />

   <ion-button expand="full" (click)="mimetodo3()">
    BOTÓN3
  </ion-button>
 
</ion-content>
